* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.main {
    overflow: hidden;
    height: 1000px;
    background-color: #eff7fa
}

.composite-path {
    margin: 0 auto;
    width: 78px;
    height: 58px;
}

.main .title {
    margin: 60px auto 0;
    width: 220px;
    height: 185px;
}

.title h2 {
    margin-top: 45px;
    height: 26px;
    font-family: Roboto-Medium;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0px;
    color: #1a2940;
}

.title p {
    margin-top: 20px;
    height: 25px;
    font-family: Roboto-Regular;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0px;
    color: #a8b9c0;
}

.line {
    margin: 20px auto 0;
    width: 150px;
    height: 2px;
    background-color: #00c6bf;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 60px auto 0;
    width: 425px;
    height: 45px;
}

.navigation li {
    font-family: Roboto-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0px;
    color: #a8b9c0;
}

.navigation li:first-child {
    width: 60px;
    height: 45px;
    color: #ffc501;
    border-radius: 10px;
    background-color: #ff3150;
}

.works {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px auto 0;
    width: 1170px;
    height: 430px;
}

.works li {
    width: 270px;
    height: 200px;
    background-color: #fff;
}

.works li.mask {
    background-color: #00c6bf;
    opacity: 0.8;
}

.works li p.p1 {
    margin: 80px auto 0;
    width: 140px;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
}

.works li p.p2 {
    margin: 10px auto 0;
    width: 52px;
    height: 14px;
    font-family: Roboto-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #1a2940;
}

.path2 {
    margin: 60px auto 0;
    width: 210px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #ff3150;
    border-radius: 20px;
    font-family: Roboto-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffc501;
}